{{ "<!-- recent post -->" | safeHTML }}
<section>
  {{ with .Site.Params.recentposts.title }}
  <h2>{{ . }}</h2>
  {{ end }}
  <br>

  <div class="row">
    {{ range .Data.Pages }}
    <article class="6u 12u$(xsmall) work-item">
      <a href="{{ .Permalink }}" class="image fit thumb">
        {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
        <img src="{{ .Params.banner | absURL}}" alt="" />
        {{ else }}
        <img src="{{ $.Site.BaseURL }}/images/01.jpg" alt="" />
        {{ end }}

        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
        <p>{{ .Params.summary | markdownify }}</p>
      </a>
    </article>
    {{ end }}
  </div>

</section>
